"*":
  "atom-beautify":
    general:
      _analyticsUserId: "b1213839-ef7e-47b3-91d4-315a88bbffd2"
    html:
      extra_liners: [
        ""
      ]
      indent_inner_html: true
    js:
      indent_char: " "
      indent_size: 4
      indent_with_tabs: false
    json:
      indent_size: 2
      indent_with_tabs: false
    jsx:
      indent_with_tabs: false
    markdown:
      commonmark: true
      default_beautifier: "Remark"
    typescript:
      indent_size: 4
      indent_with_tabs: false
  "atom-ide-ui":
    "atom-ide-diagnostics-ui":
      autoVisibility: true
    hyperclick:
      darwinTriggerKeys: "altKey,metaKey"
  "autocomplete-plus":
    fileBlacklist: [
      ".*"
      "*.md"
    ]
  core:
    closeEmptyWindows: false
    destroyEmptyPanes: false
    disabledPackages: [
      "linter-pug"
      "linter"
      "indent-guide-improved"
      "react"
    ]
    telemetryConsent: "limited"
  editor:
    scrollPastEnd: true
    showInvisibles: true
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "a87ae223-eb63-74c0-eb42-427a2d259630"
  linter: {}
  "linter-ui-default":
    panelHeight: 47
  welcome:
    showOnStartup: false
".coffee.source":
  editor:
    tabLength: 2
".js.jsx.source":
  editor:
    tabLength: 2
".source.yaml":
  editor:
    tabLength: 2
