"*":
  "atom-beautify":
    general:
      _analyticsUserId: "b1213839-ef7e-47b3-91d4-315a88bbffd2"
    js:
      indent_with_tabs: true
    markdown:
      default_beautifier: "Remark"
  editor:
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "a87ae223-eb63-74c0-eb42-427a2d259630"
  welcome:
    showOnStartup: false
